body {
	max-width: 960px; /*960px*/ 
	margin-left: auto;
	margin-right: auto;
	font-color: #333;
	line-height: 1.5;	
}

#wrapper {
	max-width: 082.291666666667%; /*790px/960px*/
	margin: 0 auto;
	background: #fff;
	border: 30px solid #00303c;	
	border-radius: 10px;
	padding: 001.518987341772%; /*12px/790px*/
}

h1 {
	color: #00303c;
	background: #c5e5ed;
	height: 80px;
	text-align: center;
	line-height: 2.5;
	padding: 001.518987341772%; /*12px/790px*/
	border-radius: 10px;
}

h2 {
	color: #64b0c4;
	padding-top: 004.430379746835%; /*35px/790px*/
}

h3 {
	color: #777;
	padding: 000.632911392405%; /*5px/790px*/
}

/*--Beginning of Table--*/
table {
	border-collapse: collapse;
	border-radius 10px;
	margin: 0 auto;
}

th {
	border: 1px solid #333;
	text-align: center;
	background-color: #00303c; 
	color: #fff;
	padding: 0.8em;
}
	
td {
	border: 1px solid #333;
	text-align: center;
	padding: 0.5em;
}

.odd_row {
	background-color: #c5e5ed;
}
/*--End of Table--*/




